.newQuestion{
    display: flex;
    width: 100%;

    .newQuestionContainer{
        flex: 6;

        .titleContainer{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            font-size: 15px;
            color: gray;
        }

        .leftContainer{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            width: 42.50%;
            float: left;
            height: 80vh;

            .leftTitle{
                width: 100%;
                font-size: 24px;
                color: gray;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            form{
                background-color: white;
                padding: 0px 25px;
                border-radius: 10px;
                float: left;

                
                input{
                    padding: 15px;
                    margin: 5px 0px;
                    border-radius: 5px;
                    height: 8px;
                    border: 1px solid gray;
                    width: 90%;
                }
                
                label{
                    font-size: 15px;
                    color: gray;
                }

                button{
                    width: 25%;
                    height: 40px;
                    padding: 10px;
                    border: none;
                    background-color: rebeccapurple;
                    color: white;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 18px;
                    cursor: pointer;
                    margin-top: 15px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}